
// Color assignments 
@orange: #951802;
@black: #050006;
@yellow: #fbeb5d;


// Colors
@main1: @orange;


//
@containerWidth: 1200px;



// Breakpoints
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 768px)";